.container {
  min-height: 478px;
  max-width: $sm-contentWidth;
  // text-align: center;
  margin: 0 auto;
}

.container-fluid {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.logo {
  // width: $test;
  // width: $test - 7px;
  // width: $test / 2;
  // width: $sm-contentWidth / 2;
  // width: calc($test / 2);
  // width: calc($sm-contentWidth / 2);
  // border: solid green 2px;
}
