$accent: #00eaff;
$text-dark: #000000;
$text-light: #ffffff;
$text-gray: #edf0f2;
$ff-a: "Acrom", sans-serif;
$ff-m: "Montserrat", sans-serif;
$text-awards-color: #6b6f7a;
$par-text-color: #222222;
$sm-text-font-size: 14px;
$md-text-font-size: 16px;
$lg-text-font-size: 18px;
$sm-title-size: 20px;
$md-title-size: 30px;
$lg-title-size: 48px;
$sm-card-number-size: 50px;
$md-card-number-size: 70px;
$lg-card-number-size: 150px;
