$accent: #00eaff;
$accent-secondary: #f9ae23; //*колір анонсу
$button-color: #ff6b08; //*колір з лого GoIT
$text-dark: #000000;
$text-light: #ffffff;
$text-slightlyGray: #edf0f2; //*великі цифри карток
$ff-a: "Acrom", sans-serif;
$ff-m: "Montserrat", sans-serif;
$awards-textColor: #6b6f7a;
$par-textColor: #222222;
$sm-textFontSize: 14px;
$md-textFontSize: 16px;
$lg-textFontSize: 18px;
$sm-titleSize: 20px;
$md-titleSize: 30px;
$lg-titleSize: 48px;
$sm-cardNumberSize: 50px;
$md-cardNumberSize: 70px;
$lg-cardNumberSize: 150px;
$sm-contentWidth: 260px;
$md-contentWidth: 748px;
$lg-contentWidth: 1170px;
