<section class="who-we-are container">
  <div class="who-we-are__title-wrp">
    <h2 class="who-we-are__title">
      [ Кто мы такие и почему всё это рассказываем_ ]
    </h2>
  </div>
  <div class="Awards">
    <h3 class="Awards__title">[ Награды ]</h3>
    <ul class="Awards__list">
      <li class="Awards-cars">
        <div class="Awards-cars__nomber"><span>01</span></div>
        <div class="Awards-cars__text-wrp">
          <h3 class="Awards-cars__title">Best IT Eduсation 2015</h3>
          <p class="Awards-cars__text">
            <span class="Awards-cars__text--dark"
              >Награждена компания GoIT</span
            >
            <span class="Awards-cars__text--light"
              >за вклад в подготовку сильных Junior-специалистов</span
            >
          </p>
        </div>
        <div class="Awards-cars__img-wrp">
          <img
            src="./images/best2015.jpg"
            width="80"
            height="160"
            alt=""
          />
        </div>
      </li>
      <li class="Awards-cars">
        <div class="Awards-cars__nomber"><span>02</span></div>
        <div class="Awards-cars__text-wrp">
          <h3 class="Awards-cars__title">Ukranian IT Awards 2016</h3>
          <p class="Awards-cars__text">
            <span class="Awards-cars__text--dark"
              >Награжден сооснователь GoIT Андрей Пивоваров</span
            >
            <span class="Awards-cars__text--light">
              за выдающийся вклад в IT-обучение украинских
              Junior-разработчиков.</span
            >
          </p>
        </div>
        <div class="Awards-cars__img-wrp">
          <img
            src="./images/best2016.jpg"
            width="60"
            height="196"
            alt=""
          />
        </div>
      </li>
      <li class="Awards-cars">
        <div class="Awards-cars__nomber"><span>03</span></div>
        <div class="Awards-cars__text-wrp">
          <h3 class="Awards-cars__title">Украинская Народная Премия 2018</h3>
          <p class="Awards-cars__text">
            <span class="Awards-cars__text--dark"
              >Победа в номинации IT-образование 2018</span
            >
            <span class="Awards-cars__text--light">
              Всеукраинский национальный проект определил GoIT лидером в отрасли
              IT образованя.</span
            >
          </p>
        </div>
        <div class="Awards-cars__img-wrp">
          <img src="./images/best2018.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>
  <div class="United-Nations">
    <p class="United-Nations__title">[ Go for IT ]</p>
    <h3 class="United-Nations__subtitle">
      GoIT выиграла тендер ПР ООН Украина
    </h3>
    <p class="United-Nations__text">
      На реализацию социального проекта по бесплатному обучению Frontend. Мы
      стали самой молодой компанией -партнером ПР ООН. В рамках проекта GO for
      IT мы обязались обучить Frontend-разработке 300 переселенцев.
    </p>
  </div>
  <div class="partners-wrp">
    <p class="partners__title">[ Партнеры ]</p>
    <ul class="partners">
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/epam.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/ciklum.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/alfaBank.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/goITeens.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/globalLogic.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/grossum.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/infopulse.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/inovecs.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/kuenhe+nagel.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/ubisoft.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/lenal.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/luxoft.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/softserve.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src=".ю/images/terrasaft.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/templateMonster.png"
            alt=""
        /></a>
      </li>
      <li class="partners__list">
        <a class="partners__link" href="#"
          ><img
            class="partners__link-img"
            src="./images/crytek.png"
            alt=""
        /></a>
      </li>
    </ul>
  </div>
</section>
