<section class="it-sphere-info">
  <div class="container">
    <h4 class="title title__light-section title__it-info">
      [ Почему сфера IT так интересна ]
    </h4>
    <div class="lg-wr">
      <div class="container__it-info">
        <div class="card-wrapper">
          <div class="card">
            <p class="subtitle text__extra-bold">
              Сегодня подготовили для вас обзор рынка из отчета ассоциации IT
              Ukraine
            </p>
            <ul class="list list__info">
              <li class="list__item list__info-item">
                <span class="accent">12634</span>
                <p class="text">IT-компании зарегистрированы в Украине</p>
              </li>
              <li class="list__item list__info-item">
                <span class="accent">2500$</span>
                <p class="text">Средний доход IT-специалиста</p>
              </li>
              <li class="list__item list__info-item">
                <span class="accent">127тыс.</span>
                <p class="text">
                  Человек работает в украинской IT-сфере сейчас
                </p>
              </li>
              <li class="list__item list__info-item">
                <span class="accent">2000</span>
                <p class="text">Новых IT-компаний появилось за 2 года</p>
              </li>
              <li class="list__item list__info-item">
                <span class="accent">83%</span>
                <p class="text">
                  Всех затрат IT компаний - это затраты на оплату труда
                  разработчиков
                </p>
              </li>
              <li class="list__item list__info-item">
                <span class="accent">200тыс.</span>
                <p class="text">
                  IT-специалистов по прогнозам будет в стране через 4-5 лет
                </p>
              </li>
            </ul>
            <div class="list__info-img"></div>
            <div class="it-income">
              <p class="text__bold">
                Доход IT-шников превышает среднюю зарплату по другим отраслям
              </p>
              <div>
                <ul class="list list__income">
                  <li class="list__item--income">
                    <span class="accent accent__income">в 7 раз</span>
                    <p class="text__income">
                      при официальном трудоустройстве IT-специалиста
                    </p>
                  </li>
                  <li class="list__item--income">
                    <span class="accent accent__income">в 7,8 раз</span>
                    <p class="text__income">при работе через ФОП</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-background"></div>
        </div>
      </div>
      <div class="container__it-proposals">
        <h4 class="title title__light-section">
          [ При этом IT компании предлагают... ]
        </h4>
        <div class="proposals_wr">
          <ul class="list list__proposals">
            <li class="list__item list__squared">
              Стабильно высокие зарплаты в долларах
            </li>
            <li class="list__item list__squared">
              Стабильный карьерный рост согласно вашим реальным знаниям и
              навыкам
            </li>
            <li class="list__item list__squared">
              Комплексниый соц. пакет
            </li>
            <li class="list__item list__squared">
              Отличные условия труда в современных офисах
            </li>
            <li class="list__item list__squared">
              Гибкий рабочий график и возможность работы даже из дома
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
