<section class="your-way dark-section">
  <div class="container">
    <div class="content-area">
      <p class="text text__extra-bold text__tired order-1">
        Устал растрачивать свой потенциал, работая за копейки в стагнирующей
        отрасли или на ненавистной тебе работе?
      </p>
      <div class="work order-2">
        <p class="text text__dark">
          <span class="text__extra-bold"
            >Сейчас на IT рынке работы намного больше, цем квалифицированных
            кадров, способных ее выполнять.</span
          >
          Работы, за которую платят много и без задержек. Потому что конкуренция
          за толковых специалистов между компаниями крайне высока. И Эта
          тенденция будет только усиливаться.
        </p>
      </div>
      <div class="lg-to-know order-3">
        <h4 class="title title__dark-section">
          [ Узнай, как именно начнется твой путь в IT_ ]
        </h4>
        <button class="btn">хочу узнать свой путь в IT</button>
      </div>
    </div>
  </div>
</section>
