.container-fluid__color {
  background-color: rgb(24, 28, 39);
}

.logo__wrp {
  width: $sm-contentWidth / 2;
  margin-bottom: 25px;
}

.none {
  width: 800px;
  height: 35px;
  display: none;
}

.header_textFirst {
  font-family: $ff-a;
  font-weight: 400;
  font-size: $sm-textFontSize;
  color: $text-light;
  margin: 0;
  margin-bottom: 25px;
}

.header_textSecond {
  @extend %dark-sectionTitle;
  font-size: $sm-titleSize;
  margin: 0;
  margin-bottom: 25px;
}

.header_textThird {
  font-family: $ff-a;
  font-weight: 500;
  font-size: $sm-textFontSize;
  color: $text-light;
  margin: 0;
  margin-bottom: 25px;
}

.header_textFourth {
  font-family: $ff-a;
  font-weight: 700;
  font-size: $sm-textFontSize;
  color: $accent-secondary;
  margin: 0;
  margin-bottom: 25px;
}

.header_textFifth {
  font-family: $ff-a;
  font-weight: 800;
  font-size: $sm-titleSize;
  color: $accent-secondary;
  margin: 0;
  margin-bottom: 25px;
}

.form-Wrp {
  background-color: $text-light;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
  width: $sm-contentWidth - 36px;
  font-family: $ff-a;
}

.form_textFirst {
  @extend %light-sectionTitle;
  font-size: $md-textFontSize;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.form_textSecond {
  font-family: $ff-a;
  font-weight: 300;
  font-size: $sm-textFontSize - 1px;
  color: $text-dark;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.name {
  margin-bottom: 15px;
  width: 224px;
  height: 40px;
}

.email {
  margin-bottom: 15px;
  width: 224px;
  height: 40px;
}

.phone {
  margin-bottom: 15px;
  width: 224px;
  height: 40px;
}

.button {
  @include button(224px, 40px, rgb(255, 107, 8));
  color: $text-light;
  margin-bottom: 15px;
}

.header_textSix {
  font-family: $ff-a;
  font-weight: 400;
  font-size: 13px;
  color: $awards-textColor;
  text-align: center;
  margin: 0;
}
// .................................media 768px............................
@media (min-width: 768px) and (max-width: 1200px) {
  .logo__wrp {
    width: $md-contentWidth / 2;
  }

  .text_wrp {
    max-width: $md-contentWidth - 160px;
    min-height: 340px;
  }

  .form-Wrp {
    width: $md-contentWidth - 160px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
  }

  .form_textFirst {
    padding-left: 120px;
    padding-right: 120px;
  }

  .header_textSecond {
    font-size: 40px;
  }

  .header_textThird {
    font-size: $lg-textFontSize;
  }

  .header_textFourth {
    font-size: $lg-textFontSize;
  }

  .header_textFifth {
    font-size: 40px;
  }

  .form_textFirst {
    font-size: 24px;
  }

  .name {
    width: 467px;
  }

  .email {
    width: 467px;
  }

  .phone {
    width: 467px;
  }

  .button {
    @include button(467px, 40px, rgb(255, 107, 8));
  }
}
// .................................media 1200px............................
@media (min-width: 1200px) {
  .s-container {
    display: flex;
    flex-wrap: wrap;
  }

  .logo__wrp {
    width: $sm-contentWidth - 160px;
    height: 35px;
  }

  .none {
    display: block;
  }

  .header_textFirst {
    margin-top: 0;
  }

  .text_wrp {
    width: $lg-contentWidth - 500px;
  }

  .header_textFirst {
    font-size: $sm-titleSize;
  }

  .header_textSecond {
    font-size: 60px;
  }

  .header_textThird {
    font-size: 35px;
  }

  .header_textFourth {
    font-size: $md-titleSize;
  }

  .header_textFifth {
    font-size: $sm-titleSize;
  }

  .header_textSix {
    margin-top: 15px;
  }
}
