<div class="container-fluid container-fluid__color">
  <div class="container">
    <div class="logo logo__wrp">
      <img src="/images/logo.png" alt="logoaad" />
    </div>
    <div>
      <p class="header_textFirst">
        Бесплатная презентация для тех, кто хочет сменить профессию и начать
        карьеру в IT-сфере
      </p>
      <p class="header_textSecond">Узнай за 1 час каким может быть твой в IT</p>
      <p class="header_textThird">
        Как с нуля всего за 3-5 месяцев получить все необходимые знания и навыки
        дл уверенного старта в IT.
      </p>
      <p class="header_textFourth">Ближайшая встреча</p>
      <p class="header_textFifth">Киев, 16 декабря 19:00</p>
    </div>
    <div class="form-Wrp">
      <p class="form_textFirst">Оставьте заявку на участие в бесплатной презентации</p>
      <p class="form_textSecond">С вами свяжеться карьерный консультант и ответит на вопросы.</p>
      <input class="name" type="text" name="name" required placeholder="Имя" />
      <input class="email" type="email" name="email" required placeholder="Email" />
      <input class="phone" type="text" name="phone" required placeholder="Телефон" />
      <button class="button" type="submit">
        ОСТАВИТЬ ЗАЯВКУ
      </button>
    </div>
    <p class="header_textSix">Политика конфиденциальности</p>
  </div>
</div>
