.container {
  margin: 0 auto;
  max-width: 260px;
  padding: 30px;
  font-family: $ff-a;
  font-weight: 400;
  letter-spacing: -0.9px;
  font-size: $sm-textFontSize;
  line-height: 20px;
}

.dark-section {
  background-color: $text-dark;
  color: $text-light;
}

.title {
  font-size: $sm-titleSize;
  line-height: 30px;

  &__light-section {
    @extend %light-section-title;
    margin: 0;
    padding-top: 0;
  }

  &__dark-section {
    @extend %dark-section-title;
    margin: 20px 0;
  }
}

.list {
  list-style-type: none;
  padding-left: 17px;
  list-style-position: outside;
  margin: 0;

  &__proposals {
    list-style-image: url(../images/icons/icon_square.png);
  }

  &__item {
    padding: 10px 0;
  }

  &__squared {
    padding: 10px 0 0 10px;
  }

  &__income {
    @include between($type: 'betw');
    margin: 0;
  }

  &__info-img {
    margin: auto;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 193px;
    position: absolute;
    transform: translate(5%, -75%);
    z-index: -1;
  }

  &__info-item {
    width: 100%;
  }
}

.accent {
  color: $accent;
  font-weight: 600;
  font-family: $ff-a;
  font-size: 30px;

  &__income {
    font-size: 25px;
    line-height: 25px;
  }
}

.card {
  position: relative;
}

.btn {
  @include button(260px, 70px, $button-color);
  border: none;

  &__text {
    text-decoration: none;
    @extend %button-text;
  }
}

.text {
  // font-size: $sm-textFontSize;
  margin: 0;
  padding: 5px 0;

  &__bold {
    font-weight: 600;
    padding-left: 17px;
  }

  &__extra-bold {
    font-weight: 800;
  }

  &__tired {
    font-size: $md-textFontSize;
    line-height: 30px;
  }

  &__dark {
    line-height: 22px;
  }

  &__income {
    font-size: 10px;
    line-height: 11px;
    width: 113px;
    margin: 0;
  }
}

.work:before {
  @include before($display: block, $content: '');
  background-color: $accent;
  width: 62px;
  height: 2px;
  margin: 35px 0 10px;
}

// MEDIA 768  ///////

@media (min-width: 768px) {
  .container {
    max-width: 748px;
    line-height: 20px;

    &__it-proposals {
      padding-top: 30px;
    }

    &__it-info {
      width: 748px;
      height: 540px;
    }
  }

  .title {
    font-size: $md-titleSize;
    text-align: center;
    line-height: 40px;
    padding: 20px;
  }

  .subtitle {
    margin: 0 auto;
    text-align: center;
    width: 405px;
    font-size: $lg-textFontSize;
    padding: 10px;
    padding-bottom: 25px;
    line-height: 25px;
  }

  .card-wrapper {
    position: relative;
    width: 702px;
    height: 540px;
    margin: 0 auto;
  }

  .card {
    width: 622px;
    height: 462px;
    padding: 40px;
    margin: 0 auto;
    box-shadow: -5px 5px 32px 0 rgba(208, 211, 213, 0.8);
    position: absolute;
    z-index: 10;
    background-color: #fff;
  }

  .card-background {
    width: 700px;
    height: 542px;
    margin: 0 auto;
    position: absolute;
    transform: translate(5%, 3%);
    z-index: 2;
    background: #edf0f2;
  }

  .accent {
    font-weight: 500;
  }

  .btn {
    @include button(530px, 70px, $button-color);
    border: none;

    &__text {
      text-decoration: none;
      font-size: $lg-textFontSize;
    }
  }

  .list {
    &__squared {
      width: 60%;
      font-size: $md-textFontSize;
    }

    &__info {
      @include between($type: 'betw');
      flex-flow: wrap;
      flex-shrink: 0;

      &-img {
        background-image: url(../images/map-md.png);
        transform: translate(96%, -30%);
      }

      &-item {
        width: 30%;
      }
    }
  }

  .it-income {
    width: 256px;
  }

  .proposals_wr {
    width: 662px;
    margin: 0 auto;
    padding-left: 10px;
  }

  .content-area {
    width: 662px;
    margin: 0 auto;
    padding: 20px;
  }

  .text__tired {
    font-size: 22px;
  }

  .work {
    width: 60%;
    font-size: $md-textFontSize;
  }

  .title__dark-section {
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    padding-left: 0;
  }
}
// MEDIA 1200  ///////

@media (min-width: 1200px) {
  .container {
    max-width: 1173px;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;

    &__it-proposals {
      width: 33%;
      padding-top: 0;
    }
  }

  .title {
    font-size: $lg-titleSize;
    line-height: 60px;
    text-align: left;
    width: 50%;
    margin: 0;

    &__light-section {
      width: 100%;
      margin: 0;
      padding-top: 65px;
    }

    &__dark-section {
      font-size: 48px;
      text-align: left;
      padding-left: 0;
      width: 100%;
      padding: 45px 0;
    }

    &__it-info {
      width: 40%;
      padding: 70px 15px;
    }
  }

  .btn {
    @include button(683px, 111px, $button-color);
    border: none;

    &__text {
      text-decoration: none;
      font-size: $md-titleSize;
    }
  }

  .lg-wr {
    display: flex;
    justify-content: space-between;
  }

  .list {
    &__squared {
      font-size: $lg-textFontSize;
      line-height: 20px;
      padding-top: 15px;
    }

    &__info-img {
      background-image: url(../images/map.png);
    }
  }

  .card-background {
    transform: translate(-3%, 3%);
  }

  .text__tired {
    font-size: 30px;
    line-height: 35px;
    width: 65%;
    order: 1;
  }

  .content-area {
    width: 1173px;
    height: 440px;
    padding: 70px 15px;
    flex-direction: column;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .lg-to-know {
    width: 65%;
    order: 2;
  }

  .work {
    width: 28%;
    height: 370px;
    order: 3;
    font-size: $lg-textFontSize;
    line-height: 35px;
    letter-spacing: 0;
    padding-top: 40px;
  }

  .text__dark {
    line-height: 35px;
  }
}
